* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 3px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-tittle {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

.price {
  font-size: 24px;
}

.shipping {
  text-transform: uppercase;
  font-size: 12px;
  color: #777;
  font-weight: bold;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 10px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.details-tittle {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 3px solid black;
}

.add-cart:hover {
  background-color: #fff;
  color: black;
}

.sale {
  position: absolute;
  top: -17px;
  left: -35px;
  background-color: #ec2f2f;
  color: white;
  padding: 7px 15px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

.color {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 10px;
  background-color: #000;
}

.color:nth-child(2) {
  background-color: red;
}

.color:nth-child(3) {
  background-color: blue;
}

.color:nth-child(4) {
  background-color: yellow;
}

.color:nth-child(5) {
  background-color: green;
}

.color:nth-child(6) {
  background-color: brown;
}

.price {
  float: left;
}

.product-inf {
  width: 243px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
}

.product-details {
  width: 243px;
  float: left;
  margin-top: 20px;
}

.product-img {
  float: left;
  margin-right: 40px;
}

.product-description {
  clear: both;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
